/* -------------------- */
/*  CANDY LOADER DEMON  */
/* -------------------- */

/* loader */ .candy-loader {position: relative;width: min(360px, calc(100% - 26px));height: 100%;overflow: hidden;display: flex;justify-content: center;align-items: center;}

/* candy width */ .post-candy {width: 100%;max-width: 360px;margin: 0;padding: 13px;flex: 0 0 auto;}

/* candy position */ .candy-loader .post-candy {position: absolute;top: 50%;left: 50%;}

/* candy animation */ .candy-loader .post-candy {transition: transform 420ms ease, opacity 420ms ease;}

/* normal */ .candy-loader .post-candy.active {transform: translate(-50%, -50%);opacity: 1;}

/* enter next */ .candy-loader .post-candy.enter-next {transform: translate(-50%, 100vh);opacity: 0;}

/* enter previous */ .candy-loader .post-candy.enter-prev {transform: translate(-50%, -100vh);opacity: 0;}

/* exit next */ .candy-loader .post-candy.exit-next {transform: translate(-50%, -100vh);opacity: 0;}

/* exit previous */ .candy-loader .post-candy.exit-prev {transform: translate(-50%, 100vh);opacity: 0;}


/* -------------------- */
/*   CANDY APPEARANCE   */
/* -------------------- */

/* paper */ .post-candy {border-radius: 2px;box-shadow: 2px 7px 11px rgba(0, 0, 0, 0.10);}