/* ------------ */
/*  GRID DEMON  */
/* ------------ */

/* Align go center */ .out-warper, .logo, .logo img, header, footer, main-warper {margin-left: auto;margin-right: auto;}
/* text-align */ footer {text-align: center;}
/* align-items */ .logo, footer, main-warper {align-items: center;}
/* Flex CENTER */ .logo, footer {display: flex;justify-content: space-around;}
/* Flex CENTER2 */ main-warper {display: flex;justify-content: center;}
/* Overflow hidden */ body{overflow: hidden;}


/* position */ header, footer {position: fixed;}
/* z-index MAX */ header, footer {z-index: 1000;}


/* ------------- */
/*  WIDTH DEMON  */
/* ------------- */

/* width 100% */ header, footer, main-warper {width: 100%;}
/* MAX 500px */ .out-warper {max-width: 500px;}


/* --------------- */
/* POSITION DEMON  */
/* --------------- */

/* out-warper = DDD domain */ .out-warper {position: relative;width: 100%;max-width: 500px;height: 100vh;margin-left: auto;margin-right: auto;overflow: hidden;}

/* header */ header {top: 0;left: 0;}

/* main-warper */ main-warper {position: absolute;top: 100px;bottom: 100px;left: 0;height: auto;}

/* footer */ footer {bottom: 0;left: 0;}


/* ------------ */
/*     DIVs     */
/* ------------ */

/* header */ .logo {height: 100px;}
/* logo */ .logo img {width: 32px;}

/* nav */ .nav {}

/* burger / summon */ .burger {}
.summon {}

/* footer */ footer {height: 100px;}


/* ------------ */
/*  Index.html  */
/* ------------ */

/* content */ .content {width: 100%;}